$btn_toolbar_bgcolor:#efefef;
$btn_toolbar_padding:10px;
$btn_toolbar_group_spacing:10px;
$btn_toolbar_group_vertical_spacing:10px;

/* Horizontal Spacer sizes */
$btn_toolbar_spacer_mini:2px;
$btn_toolbar_spacer_small:5px;
$btn_toolbar_spacer_default:10px;
$btn_toolbar_spacer_large:15px;
$btn_toolbar_spacer_huge:20px;

/* Horizontal Divider options */
$btn_toolbar_divider_background_color:#fff;
$btn_toolbar_divider_height:36px;
$btn_toolbar_divider_width:2px;

/* Vertical Spacer sizes */
$btn_toolbar_spacer_vert_mini:2px;
$btn_toolbar_spacer_vert_small:5px;
$btn_toolbar_spacer_vert_default:10px;
$btn_toolbar_spacer_vert_large:15px;
$btn_toolbar_spacer_vert_huge:20px;

/* Vertical Divider options */
$btn_toolbar_divider_vert_background_color:#fff;
$btn_toolbar_divider_vert_height:2px;
$btn_toolbar_divider_vert_width:85%;
