/* Toolbar */
$toolbar_bgcolor: rgb(240, 240, 240) !default;
$toolbar_gradient_top: lighten($toolbar_bgcolor, 3%) !default;
$toolbar_gradient_bottom: darken($toolbar_bgcolor, 2%) !default;
$toolbar_padding: 0.5em !default;

/* Buttons */
$btn_margin: 0.25em !default;

/* Spacer */
$spacer_width: 1em !default;

/* Divider */
$divider_bgcolor: rgba(60, 60, 60, 0.2) !default;
$divider_width: 1px !default;
