@import "_toolbars_vars";

.toolbar,
.btn-toolbar {
  @include linear_gradient($toolbar_bgcolor, $toolbar_gradient_top, $toolbar_gradient_bottom);
  padding: $toolbar_padding;

  .btn,
  .button,
  button,
  .btn-group,
  .btn_group {
    margin: 0.25em;
    float: left;
  }

  .btn_group,
  .btn-group {
    .btn,
    .button,
    button {
      margin: 0;
    }
  }

  .pull_left,
  .pull-left {
    float: left;
  }

  .pull_right,
  .pull-right {
    float: right;
  }

  .spacer {
    display: block;
    float: left;
    width: $spacer_width;
    height: 2em;
  }

  .divider {
    display: block;
    width: $divider_width;
    height: 2em;
    float: left;
    margin: 0.45em $btn_margin $btn_margin $btn_margin;
    background-color: $divider_bgcolor;
    @include box-shadow(1px 1px  0 0 rgba($white_color, 0.7));
  }

/* vertical toolbar */
  &.vertical,
  &.btn-toolbar-vertical {
    display: inline-block;
    width: auto;

    .btn,
    .button,
    button,
    .btn-group,
    .btn_group {
      display: block;
      float: none;
    }

    .spacer {
      height: $spacer_width/2;
      width: 100%;
      float: none;
    }

    .divider {
      width: 80%;
      height: $divider_width;
      float: none;
      margin: $btn_margin auto;
    }
  }

  // clear floating
  &:after {
    clear: both;
    content: "";
    display: block;
  }
}
