<div class="toolbar">
  <button class="btn">button</button>
  <button class="btn">button</button>
  <button class="btn">button</button>

  <span class="divider"></span>

  <button class="btn">button</button>
  <button class="btn">button</button>
  <button class="btn">button</button>

  <span class="spacer"></span>

  <button class="btn">button</button>

  <button class="btn pull_right">button</button>
  <button class="btn pull_right">button</button>
</div>

<br/>

<div class="toolbar">
  <button class="btn pull_left">button</button>
  <button class="btn pull_left">button</button>

  <div class="btn_group pull_left">
    <button class="btn">button</button>
    <button class="btn">button</button>
    <button class="btn">button</button>
  </div>

  <div class="btn_group pull_left">
    <button class="btn">button</button>
    <button class="btn">button</button>
    <button class="btn">button</button>
  </div>

  <div class="btn_group pull_right">
    <button class="btn">button</button>
    <button class="btn">button</button>
    <button class="btn">button</button>
  </div>

    <button class="btn pull_right">button</button>
</div>

<br/>

<div class="toolbar vertical">
  <button class="btn">button</button>
  <button class="btn">button</button>
  <button class="btn">button</button>

  <span class="divider"></span>

  <button class="btn">button</button>

  <span class="spacer"></span>

  <button class="btn">button</button>
  <button class="btn">button</button>
  <button class="btn">button</button>
</div>
