<section class="content">

<h3>HTML Types</h3>

<div class="btn-toolbar">
  <div class="btn-group">
    <a href="#" class="btn">Link</a>
    <button>Button</button>
    <input class="btn" type="reset" value="Reset"/>
    <input class="btn" type="submit" value="Submit"/>
  </div><div class="btn-group">
    <a href="#" class="btn">Link</a>
    <button>Button</button>
    <input class="btn" type="reset" value="Reset"/>
    <input class="btn" type="submit" value="Submit"/>
  </div><div class="btn-group">
    <a href="#" class="btn">Link</a>
    <button>Button</button>
    <input class="btn" type="reset" value="Reset"/>
    <input class="btn" type="submit" value="Submit"/>
  </div>
</div>

<br/>

<div class="btn-toolbar">
  <div class="btn-group pull-left">
    <a href="#" class="btn">Link</a>
    <button>Button</button>
    <input class="btn" type="reset" value="Reset"/>
    <input class="btn" type="submit" value="Submit"/>
  </div><div class="btn-group pull-right">
    <a href="#" class="btn">Link</a>
    <button>Button</button>
    <input class="btn" type="reset" value="Reset"/>
    <input class="btn" type="submit" value="Submit"/>
  </div>
</div>

<br/>

<div class="btn-toolbar btn-toolbar-vertical">
  <div class="btn-group">
    <a href="#" class="btn">Link</a>
    <button>Button</button>
    <input class="btn" type="reset" value="Reset"/>
    <input class="btn" type="submit" value="Submit"/>
  </div><div class="btn-group">
    <a href="#" class="btn">Link</a>
    <button>Button</button>
    <input class="btn" type="reset" value="Reset"/>
    <input class="btn" type="submit" value="Submit"/>
  </div><div class="btn-group">
    <a href="#" class="btn">Link</a>
    <button>Button</button>
    <input class="btn" type="reset" value="Reset"/>
    <input class="btn" type="submit" value="Submit"/>
  </div>
</div>

<h3>Features - Sizes</h3>

<div class="btn-toolbar">
  <div class="btn-group">
    <input class="btn mini" type="submit" value="Mini"/>
    <input class="btn small" type="submit" value="Small"/>
    <input class="btn" type="submit" value="Default"/>
    <input class="btn large" type="submit" value="Large"/>
    <input class="btn huge" type="submit" value="Huge"/>
  </div><div class="btn-group">
    <input class="btn mini" type="submit" value="Mini"/>
    <input class="btn small" type="submit" value="Small"/>
    <input class="btn" type="submit" value="Default"/>
    <input class="btn large" type="submit" value="Large"/>
    <input class="btn huge" type="submit" value="Huge"/>
  </div><div class="btn-group">
    <input class="btn mini" type="submit" value="Mini"/>
    <input class="btn small" type="submit" value="Small"/>
    <input class="btn" type="submit" value="Default"/>
    <input class="btn large" type="submit" value="Large"/>
    <input class="btn huge" type="submit" value="Huge"/>
  </div>
</div>

<br/>

<div class="btn-toolbar">
  <div class="btn-group pull-left">
    <input class="btn mini" type="submit" value="Mini"/>
    <input class="btn small" type="submit" value="Small"/>
    <input class="btn" type="submit" value="Default"/>
    <input class="btn large" type="submit" value="Large"/>
    <input class="btn huge" type="submit" value="Huge"/>
  </div><div class="btn-group pull-right">
    <input class="btn mini" type="submit" value="Mini"/>
    <input class="btn small" type="submit" value="Small"/>
    <input class="btn" type="submit" value="Default"/>
    <input class="btn large" type="submit" value="Large"/>
    <input class="btn huge" type="submit" value="Huge"/>
  </div>
</div>

<br/>

<div class="btn-toolbar btn-toolbar-vertical">
  <div class="btn-group">
    <input class="btn mini" type="submit" value="Mini"/>
    <input class="btn small" type="submit" value="Small"/>
    <input class="btn" type="submit" value="Default"/>
    <input class="btn large" type="submit" value="Large"/>
    <input class="btn huge" type="submit" value="Huge"/>
  </div><div class="btn-group">
    <input class="btn mini" type="submit" value="Mini"/>
    <input class="btn small" type="submit" value="Small"/>
    <input class="btn" type="submit" value="Default"/>
    <input class="btn large" type="submit" value="Large"/>
    <input class="btn huge" type="submit" value="Huge"/>
  </div><div class="btn-group">
    <input class="btn mini" type="submit" value="Mini"/>
    <input class="btn small" type="submit" value="Small"/>
    <input class="btn" type="submit" value="Default"/>
    <input class="btn large" type="submit" value="Large"/>
    <input class="btn huge" type="submit" value="Huge"/>
  </div>
</div>

<h3>Features - Colors</h3>

<div class="btn-toolbar">
  <div class="btn-group">
    <input class="btn" type="submit" value="Default"/>
    <input class="btn primary" type="submit" value="Primary"/>
    <input class="btn warning" type="submit" value="Warning"/>
  </div><div class="btn-group">
    <input class="btn" type="submit" value="Default"/>
    <input class="btn primary" type="submit" value="Primary"/>
    <input class="btn warning" type="submit" value="Warning"/>
  </div><div class="btn-group">
    <input class="btn" type="submit" value="Default"/>
    <input class="btn primary" type="submit" value="Primary"/>
    <input class="btn warning" type="submit" value="Warning"/>
  </div>
</div>

<br/>

<div class="btn-toolbar">
  <div class="btn-group pull-left">
    <input class="btn" type="submit" value="Default"/>
    <input class="btn primary" type="submit" value="Primary"/>
    <input class="btn warning" type="submit" value="Warning"/>
  </div><div class="btn-group pull-right">
    <input class="btn" type="submit" value="Default"/>
    <input class="btn primary" type="submit" value="Primary"/>
    <input class="btn warning" type="submit" value="Warning"/>
  </div>
</div>

<br/>

<div class="btn-toolbar btn-toolbar-vertical">
  <div class="btn-group">
    <input class="btn" type="submit" value="Default"/>
    <input class="btn primary" type="submit" value="Primary"/>
    <input class="btn warning" type="submit" value="Warning"/>
  </div><div class="btn-group">
    <input class="btn" type="submit" value="Default"/>
    <input class="btn primary" type="submit" value="Primary"/>
    <input class="btn warning" type="submit" value="Warning"/>
  </div><div class="btn-group">
    <input class="btn" type="submit" value="Default"/>
    <input class="btn primary" type="submit" value="Primary"/>
    <input class="btn warning" type="submit" value="Warning"/>
  </div>
</div>

<h3>Features - Statuses</h3>

<div class="btn-toolbar">
  <div class="btn-group">
    <input class="btn" type="submit" value="Disabled" title="We are working on that..." disabled="disabled"/>
    <input class="btn processing" type="submit" value="Processing" title="We are working on that..." disabled="disabled"/>
  </div><div class="btn-group">
    <input class="btn" type="submit" value="Disabled" title="We are working on that..." disabled="disabled"/>
    <input class="btn processing" type="submit" value="Processing" title="We are working on that..." disabled="disabled"/>
  </div><div class="btn-group">
    <input class="btn" type="submit" value="Disabled" title="We are working on that..." disabled="disabled"/>
    <input class="btn processing" type="submit" value="Processing" title="We are working on that..." disabled="disabled"/>
  </div>
</div>

<br/>

<div class="btn-toolbar">
  <div class="btn-group pull-left">
    <input class="btn" type="submit" value="Disabled" title="We are working on that..." disabled="disabled"/>
    <input class="btn processing" type="submit" value="Processing" title="We are working on that..." disabled="disabled"/>
  </div><div class="btn-group pull-right">
    <input class="btn" type="submit" value="Disabled" title="We are working on that..." disabled="disabled"/>
    <input class="btn processing" type="submit" value="Processing" title="We are working on that..." disabled="disabled"/>
  </div>
</div>

<br/>

<div class="btn-toolbar btn-toolbar-vertical">
  <div class="btn-group">
    <input class="btn" type="submit" value="Disabled" title="We are working on that..." disabled="disabled"/>
    <input class="btn processing" type="submit" value="Processing" title="We are working on that..." disabled="disabled"/>
  </div><div class="btn-group">
    <input class="btn" type="submit" value="Disabled" title="We are working on that..." disabled="disabled"/>
    <input class="btn processing" type="submit" value="Processing" title="We are working on that..." disabled="disabled"/>
  </div><div class="btn-group">
    <input class="btn" type="submit" value="Disabled" title="We are working on that..." disabled="disabled"/>
    <input class="btn processing" type="submit" value="Processing" title="We are working on that..." disabled="disabled"/>
  </div>
</div>

<h3>Features - Icons</h3>

<div class="btn-toolbar">
  <div class="btn-group">
    <a class="btn icon" href="#">Download link (:before)</a>
    <div class="btn icon">
      <i class="download_icon-black"></i>
      <a class="btn" href="#">Download link (&lt;i&gt;)</a>
    </div>
    <div class="btn icon">
      <input class="btn" type="submit" value="Submit (:before)">
    </div>
    <div class="btn icon">
      <i class="download_icon-black"></i>
      <input class="btn" type="submit" value="Submit (<i>)">
    </div>
  </div><div class="btn-group">
    <a class="btn icon" href="#">Download link (:before)</a>
    <div class="btn icon">
      <i class="download_icon-black"></i>
      <a class="btn" href="#">Download link (&lt;i&gt;)</a>
    </div>
    <div class="btn icon">
      <input class="btn" type="submit" value="Submit (:before)">
    </div>
    <div class="btn icon">
      <i class="download_icon-black"></i>
      <input class="btn" type="submit" value="Submit (<i>)">
    </div>
  </div><div class="btn-group">
    <a class="btn icon" href="#">Download link (:before)</a>
    <div class="btn icon">
      <i class="download_icon-black"></i>
      <a class="btn" href="#">Download link (&lt;i&gt;)</a>
    </div>
    <div class="btn icon">
      <input class="btn" type="submit" value="Submit (:before)">
    </div>
    <div class="btn icon">
      <i class="download_icon-black"></i>
      <input class="btn" type="submit" value="Submit (<i>)">
    </div>
  </div>
</div>

<br/>

<div class="btn-toolbar">
  <div class="btn-group pull-left">
    <a class="btn icon" href="#">Download link (:before)</a>
    <div class="btn icon">
      <i class="download_icon-black"></i>
      <a class="btn" href="#">Download link (&lt;i&gt;)</a>
    </div>
  </div><div class="btn-group pull-right">
    <div class="btn icon">
      <input class="btn" type="submit" value="Submit (:before)">
    </div>
    <div class="btn icon">
      <i class="download_icon-black"></i>
      <input class="btn" type="submit" value="Submit (<i>)">
    </div>
  </div>
</div>

<br/>

<div class="btn-toolbar btn-toolbar-vertical">
  <div class="btn-group">
    <a class="btn icon" href="#">Download link (:before)</a>
    <div class="btn icon">
      <i class="download_icon-black"></i>
      <a class="btn" href="#">Download link (&lt;i&gt;)</a>
    </div>
    <div class="btn icon">
      <input class="btn" type="submit" value="Submit (:before)">
    </div>
    <div class="btn icon">
      <i class="download_icon-black"></i>
      <input class="btn" type="submit" value="Submit (<i>)">
    </div>
  </div><div class="btn-group">
    <a class="btn icon" href="#">Download link (:before)</a>
    <div class="btn icon">
      <i class="download_icon-black"></i>
      <a class="btn" href="#">Download link (&lt;i&gt;)</a>
    </div>
    <div class="btn icon">
      <input class="btn" type="submit" value="Submit (:before)">
    </div>
    <div class="btn icon">
      <i class="download_icon-black"></i>
      <input class="btn" type="submit" value="Submit (<i>)">
    </div>
  </div><div class="btn-group">
    <a class="btn icon" href="#">Download link (:before)</a>
    <div class="btn icon">
      <i class="download_icon-black"></i>
      <a class="btn" href="#">Download link (&lt;i&gt;)</a>
    </div>
    <div class="btn icon">
      <input class="btn" type="submit" value="Submit (:before)">
    </div>
    <div class="btn icon">
      <i class="download_icon-black"></i>
      <input class="btn" type="submit" value="Submit (<i>)">
    </div>
  </div>
</div>

<br/>

</section>